* {
  box-sizing: border-box;
}

#header-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 25px;
  align-items: center;
}

header a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: navy;
  font-size: 20px;
  display: inline;
  font-weight: bold;
}

header p {
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.question-wrap {
  width: 50%;
}

.question-wrap h3 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  text-align: center;
  min-height: 100px;
}
.question-wrap p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

#startBtn-wrap {
  display: flex;
  justify-content: center;
}

.btn {
  outline: none;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 10px 30px;
  background: blue;
  color: white;
  border-radius: 5px;
  display: block;
  margin: 10px 5px;
  width: fit-content;
}

.btn:hover {
  background: greenyellow;
  color: #3f3f3f;
}

#option-ol {
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 300px;
}

.option {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 10px 30px;
  background: blue;
  color: white;
  border-radius: 5px;
  display: block;
  margin: 7px 0;
}

.option:hover {
  background: greenyellow;
  color: #3f3f3f;
}

#feedback-message {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  color: fuchsia;
}

#initials-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#initials-label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 0 15px 0 0;
}

#initials {
  font-size: 20px;
}

#scores-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  text-align: center;
}

#score-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#empty-score-msg {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
}

#score-ol {
  padding: 0;
  width: 50%;
  background: lightgray;
  list-style-position: inside;
}

.score-li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background: lightgray;
  padding: 10px 10px;
}

#button-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
}
